body {
    font: 30px "Courier New", Futura, Monospace;
    color: darkblue;
    margin: 30px;
  }
  
  ol, ul {
    padding-left: 50px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(253, 253, 253);
    border: 5px solid rgb(35, 18, 82);
    float: left;
    font-size: 40px;
    font-weight: bold;
    color: rgb(95, 8, 255);
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }